.my-container {
  max-width: 800px;
}
.hoogte {
  background-color: rgb(238, 223, 200);
  height: 200px;
}

.my-height-1 {
  height: 150px;
}

.printed {
  background-color: rgb(230, 230, 230);
}

.my-link {
  text-decoration: none;
}

.my-bg {
  background-color: rgb(242, 242, 242);
}
