.my-container {
  max-width: 800px;
}
.hoogte {
  background-color: blueviolet;
  height: 200px;
}

.my-height-1 {
  height: 150px;
}

.printed {
  background-color: rgb(209, 209, 209);
}

.my-link {
  text-decoration: none;
}
