<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
  <body class="">
    <div class="container my-container my-bg mt-5">
      <div class="text-center mt-5">
        <img
          class="mt-3"
          src="/static/img/Logo-brianto.png"
          width="250px"
          alt=""
          srcset=""
        />
      </div>
      <div class="mt-5 position-relative my-height-1">
        <div class="position-absolute top-0 start-50 translate-middle">
          <h3 class="mt-5">ORDER {{order_number}} GEPRINT</h3>
          <form action="/orders" method="get">
            <button class="btn btn-outline-secondary mt-5" type="submit">
              TERUG NAAR ORDERS
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
