<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
  <body>
    <div class="container">
      <h3>Orders</h3>

      <div class="container my-bg">
        <div class="row bg-dark text-center pt-1 pb-1">
          <!-- <div class="col">
            <input
              type="button"
              value="nieuwe orders"
              onClick="window.location.reload(true)"
            />
          </div> -->

          <div class="col-2">
            <form action="{{url_for('orders')}}" method="get">
              <button class="btn btn-outline-warning" type="submit">
                Nieuwe Orders
              </button>
            </form>
          </div>

          <div class="col-2">
            <form action="{{url_for('order_print')}}" method="get">
              <button class="btn btn-outline-warning" type="submit">
                Print Orders
              </button>
            </form>
          </div>

          <div class="col-4">
            <!-- <form action="/orderdetail" method="get">
              <input type="text" name="id" id="myinput-1" />
              <button type="submit">Zoek</button>
            </form> -->

            <form action="{{url_for('orderdetail_wtf')}}" method="post">
              <div class="input-group">
                {{form.csrf_token}} {{form.gezocht_order(class_
                ="form-control")}} {{form.submit_s(class_ = "btn
                btn-outline-warning")}}
              </div>
            </form>
          </div>

          <div class="col-4">
            <form action="{{url_for('logout')}}" method="get">
              <button class="btn btn-outline-warning" type="submit">
                Logout
              </button>
            </form>
          </div>
          <!-- <div class="col">
            <div>Orders: {{total}} €</div>
          </div> -->
        </div>
      </div>
      <table class="table my-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <!-- <td>o</td> -->
            <td>
              <div class="col">
                <button
                  class="btn btn-outline-secondary btn-sm"
                  type="submit"
                  form="myform"
                  value="submit"
                >
                  P
                </button>
              </div>
            </td>
            <th scope="col">Ordernummer</th>
            <!-- <th scope="col">OrderLs</th> -->
            <th scope="col">Klant</th>
            <th scope="col">Land</th>
            <th scope="col">Datum aangemaakt</th>
            <th scope="col">orderstatus</th>
            <th scope="col">Totaalbedrag</th>
          </tr>
        </thead>
        <tbody>
          <form
            action="{{url_for('print_checkbox')}}"
            ,
            name="myform"
            method="post"
            id="myform"
          >
            {% for order in orders_array %}
            <tr class="{{order[8]}}">
              <th scope="row">|</th>
              <td>
                <input
                  type="checkbox"
                  id="mycheckbox"
                  name="mycheckbox"
                  value="{{order[0]}}"
                  method="post"
                />

                <!-- <input type="submit" value=""> -->
              </td>
              <td>
                <a
                  class="link-success my-link"
                  href="/orderdetail/?id={{order[0]}}"
                  >{{order[0]}}</a
                >
              </td>
              <td>{{order[1]}} {{order[2]}}</td>
              {%if order[3] == "Belgium"%}
              <td>
                <img
                  src="/static/img/flag-icon-belgium.png"
                  height="10px"
                  alt=""
                />
              </td>
              {% elif order[3] == "Netherlands, The"%}
              <td>
                <img
                  src="/static/img/flag-icon-holland.png"
                  height="10px"
                  alt=""
                />
              </td>
              {% else %}
              <td>
                <img
                  src="/static/img/flag-icon-france.png"
                  height="10px"
                  alt=""
                />
              </td>
              {% endif%}

              <td class="orderlist-date">{{order[5]}}</td>
              <!-- <td class="orderlijst-status">{{order[6]}}</td> -->
              <td
                class="orderlijst-status text-center badge text-wrap mt-2"
                style="width: 10rem"
              >
                {{order[6]}}
              </td>

              <td class="orderlist-price">€ {{order[7]}}</td>
            </tr>
            {% endfor %}
          </form>
        </tbody>
      </table>
    </div>
  </body>
</html>
